In [33]:
import pandas as pd

In [34]:
data=pd.read_csv(r"C:\Users\Dell\Downloads\netflixData.csv")

In [35]:
data.isnull().sum()

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [36]:
data.dtypes

Show Id                object
Title                  object
Description            object
Director               object
Genres                 object
Cast                   object
Production Country     object
Release Date          float64
Rating                 object
Duration               object
Imdb Score             object
Content Type           object
Date Added             object
dtype: object

In [37]:
data.rename(columns={"Release Date":"Year"},inplace=True)
data.head(1)

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Year,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN

In [38]:
data["Year"]=data["Year"].astype("Int64")
data.dtypes

Show Id               object
Title                 object
Description           object
Director              object
Genres                object
Cast                  object
Production Country    object
Year                   Int64
Rating                object
Duration              object
Imdb Score            object
Content Type          object
Date Added            object
dtype: object

In [39]:
data.rename(columns={"Content Type":"Category"},inplace=True)
data.head(5)

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Year,Rating,Duration,Imdb Score,Category,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [40]:
data["Title"].str.contains("3%").sum()

1

In [41]:
data.drop(data[data["Title"] == "46"].index,inplace=True)

In [42]:
data["Title"].str.contains("122").sum()

1

In [43]:
data["Title"].replace("122", "movie1", inplace=True)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5966 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5966 non-null   object
 1   Title               5966 non-null   object
 2   Description         5966 non-null   object
 3   Director            3902 non-null   object
 4   Genres              5966 non-null   object
 5   Cast                5436 non-null   object
 6   Production Country  5407 non-null   object
 7   Year                5963 non-null   Int64
 8   Rating              5962 non-null   object
 9   Duration            5963 non-null   object
 10  Imdb Score          5358 non-null   object
 11  Category            5966 non-null   object
 12  Date Added          4632 non-null   object
dtypes: Int64(1), object(12)
memory usage: 658.4+ KB

In [45]:
data.dropna(subset=["Title"], inplace=True)

In [46]:
data.fillna(method="bfill",inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_26164\2440559581.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="bfill",inplace=True)

In [47]:
data.dropna()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Year,Rating,Duration,Imdb Score,Category,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,Cho Il,Reality TV,"Yoo Ah-in, Park Shin-hye",United States,2020,TV-MA,1 Season,6.6/10,TV Show,"September 8, 2020"
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,Michael Margolis,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020,TV-MA,1 Season,6.6/10,TV Show,"February 5, 2020"
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies","Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Canada,2020,TV-14,90 min,5.1/10,Movie,"February 5, 2020"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5961,06aab7f2-9756-4680-98cf-209b7ca86a9b,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,This documentary delves into the mystique behi...,Sam Dunn,"Documentaries, Music & Musicals","Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...","United Kingdom, Canada, United States",2019,TV-MA,90 min,7.4/10,Movie,"March 1, 2020"
5962,62b8b682-f191-4c10-aa04-32319329bd8d,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Ahmed Nader Galal,"Comedies, Dramas, International Movies","Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...",Egypt,2009,TV-14,115 min,7.4/10,Movie,"April 25, 2020"
5963,5bed77ab-5e31-4216-8b51-44c9a35442e6,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,Hong-seon Kim,"International TV Shows, TV Dramas","Bashar al-Shatti, Fatima Al Safi, Maram Baloch...",South Korea,2019,TV-14,1 Season,6.5/10,TV Show,"February 28, 2018"
5964,4661ec0c-8692-4661-bc76-a96412b311fd,海的儿子,"Two brothers start a new life in Singapore, wh...",Hong-seon Kim,"International TV Shows, TV Dramas","Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",South Korea,2016,TV-14,1 Season,6.5/10,TV Show,"February 28, 2018"
5965,145c93a7-1924-403c-a933-4ede8ad66f26,반드시 잡는다,After people in his town start turning up dead...,Hong-seon Kim,"Dramas, International Movies, Thrillers",Baek Yoon-sik,South Korea,2017,TV-MA,110 min,6.5/10,Movie,"February 28, 2018"

In [122]:
((5966-5960)/5666)*100

0.10589481115425345

In [48]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5962    False
5963    False
5964    False
5965    False
5966    False
Length: 5966, dtype: bool

In [49]:
data[data.duplicated()]

Empty DataFrame
Columns: [Show Id, Title, Description, Director, Genres, Cast, Production Country, Year, Rating, Duration, Imdb Score, Category, Date Added]
Index: []

In [50]:
data.isnull().sum()

Show Id               0
Title                 0
Description           0
Director              0
Genres                0
Cast                  0
Production Country    1
Year                  0
Rating                0
Duration              0
Imdb Score            0
Category              0
Date Added            0
dtype: int64

In [51]:
# For 'house of card' what is the show ID and who is the director of this show
#data[data["Title"].str.contains("House of Cards")] 
dt1=data[(data["Title"]=="House of Cards")] 
dt1[["Show Id","Director"]]

                                   Show Id     Director
2130  ec170eff-50b5-4d1d-8418-784fa393d0a8  Alex Merkin

In [52]:
# In which year highest no of movies  were released

movie=data[(data["Category"]=="Movie")]
gp = movie.groupby("Year").agg({"Category":"count"}).sort_values(by="Category",ascending=False).head(1)
gp

      Category
Year
2018       587

In [53]:
# Most popular movie in 2019
movie=data[(data["Category"]=="Movie") & (data["Year"]==2019)]
gp=movie.groupby("Title").agg({"Imdb Score":"max"}).sort_values(by="Imdb Score",ascending=False).head(1)
gp

                                Imdb Score
Title
Motu Patlu in the Game of Zones     8.8/10

In [54]:
# Total no of Movies and TV Show
data["Category"].value_counts()

Category
Movie      3867
TV Show    2099
Name: count, dtype: int64

In [55]:
# show all movies that were released in 2000
data[(data["Category"]=="Movie") & (data["Year"]==2000)]

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Year,Rating,Duration,Imdb Score,Category,Date Added
562,dc0d2072-65fe-471a-90e9-872e01f9f6d0,Battlefield Earth,"In the year 3000, an alien race known as the P...",Roger Christian,"Action & Adventure, Cult Movies, Sci-Fi & Fantasy","John Travolta, Barry Pepper, Forest Whitaker, ...",United States,2000,PG-13,118 min,2.6/10,Movie,"June 2, 2021"
940,6bbd0936-dae4-46a6-9933-ce8e17442235,Charlie's Angels,A tight-knit trio of specially trained agents ...,McG,"Action & Adventure, Comedies","Cameron Diaz, Drew Barrymore, Lucy Liu, Bill M...","United States, Germany",2000,PG-13,98 min,5.4/10,Movie,"July 1, 2021"
1652,94a38abb-8990-4fbd-87b5-5aba0c15f89a,Fiza,Fiza's brother disappears during Mumbai's horr...,Khalid Mohamed,"Dramas, International Movies, Music & Musicals","Karisma Kapoor, Jaya Bhaduri, Hrithik Roshan, ...",India,2000,TV-14,163 min,6.2/10,Movie,"August 2, 2018"
2417,434ed003-d3f5-418c-8892-fc79318fa506,Joseph: King of Dreams,With his gift of dream interpretation and his ...,"Rob LaDuca, Robert C. Ramirez","Children & Family Movies, Dramas, Faith & Spir...","Ben Affleck, Mark Hamill, Richard Herd, Mauree...","United States, France, United Kingdom",2000,TV-PG,75 min,6.6/10,Movie,"September 27, 2011"
3176,2f0addb7-77ea-46d9-98a1-dd814dcc9ee5,Monty Python: Before the Flying Circus,Discover how six seemingly ordinary but suprem...,Will Yapp,"Comedies, Documentaries","Graham Chapman, Eric Idle, Terry Jones, Michae...",United Kingdom,2000,TV-MA,56 min,7.2/10,Movie,"October 2, 2018"
3689,0d008ec4-fd9a-489c-a31e-cbb21f5d8ece,Phir Bhi Dil Hai Hindustani,"In this Bollywood entertainment, two journalis...",Aziz Mirza,"Comedies, Dramas, International Movies","Shah Rukh Khan, Juhi Chawla, Paresh Rawal, Sat...",India,2000,TV-14,159 min,6.3/10,Movie,"April 1, 2018"
4022,3fe8a1ce-c9e8-423b-bab3-626974bfa476,Rugrats in Paris: The Movie,The Rugrats take to the big screen and visit P...,"Stig Bergqvist, Paul Demeyer","Children & Family Movies, Comedies","Elizabeth Daily, Tara Strong, Cheryl Chase, Ch...","Germany, United States",2000,G,79 min,6.0/10,Movie,"October 1, 2019"
4317,de7dbd94-052f-4286-aa15-e47d5e4d5b5f,Snow Day,"When a snow day shuts down the whole town, the...",Chris Koch,"Children & Family Movies, Comedies","Chris Elliott, Mark Webber, Jean Smart, Schuyl...",United States,2000,PG,89 min,5.2/10,Movie,"July 1, 2021"
5110,bbc5cd38-3999-4cde-89e5-e2a64f9a8eb1,The Patriot,A widower and past war hero just wants to live...,Roland Emmerich,"Action & Adventure, Dramas","Mel Gibson, Heath Ledger, Joely Richardson, Ja...","United States, Germany",2000,R,165 min,7.3/10,Movie,"February 1, 2021"
5305,892a9d6f-46bc-4b14-960c-dc9e360666f6,The Whole Nine Yards,An unhappily married dentist becomes mixed up ...,Jonathan Lynn,"Action & Adventure, Comedies","Bruce Willis, Matthew Perry, Rosanna Arquette,...",United States,2000,R,99 min,6.5/10,Movie,"May 1, 2021"

In [77]:
# Show only the titles of all tv shows that were released in india only
data[(data["Category"]=="TV Show") & (data["Production Country"]=="India")] ["Title"]

79                    7SEEDS
239           Ajaibnya Cinta
245             Akbar Birbal
302             Alma Matters
471           Away From Home
                ...
4653             The Big Day
4737    The Creative Indians
5553              Typewriter
5718          Wassup Man GO!
5945        Zindagi in Short
Name: Title, Length: 65, dtype: object

In [66]:
# show top 10 director who gave highest number of shows & movie to netflix
data["Director"].value_counts().head(10)

Director
Raúl Campos, Jan Suter    31
Marcus Raboy              29
Cathy Garcia-Molina       21
Youssef Chahine           20
Jay Karas                 17
Suhas Kadav               16
Kunle Afolayan            16
Don Michael Paul          14
Chia-Liang Liu            14
Michael Tiddes            13
Name: count, dtype: int64

In [81]:
# show all the records where category is movie & type is comedies or country is united kingdom
data[(data["Category"]=="Movie") & (data["Genres"]=="Comedies") | (data["Production Country"]=="India")]

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Year,Rating,Duration,Imdb Score,Category,Date Added
7,c844460f-6178-4f87-929e-80816c74ca35,#realityhigh,When nerdy high schooler Dani finally attracts...,Fernando Lebrija,Comedies,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017,TV-14,99 min,5.1/10,Movie,"September 8, 2017"
18,f5f2e34f-903d-4f77-9de5-31d8be73d305,1000 Rupee Note,After randomly receiving a handsome political ...,Shrihari Sathe,"Dramas, International Movies","Usha Naik, Sandeep Pathak, Shrikant Yadav, Gan...",India,2014,TV-14,89 min,7.4/10,Movie,"December 1, 2016"
24,4594bcbc-837f-497f-9eb9-02cc520e79ee,15 August,"On India's Independence Day, a zany mishap in ...",Swapnaneel Jayakar,"Comedies, Dramas, Independent Movies","Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,2019,TV-14,124 min,5.9/10,Movie,"March 29, 2019"
32,79afe5bd-0dcd-4cac-9072-f77f46f355ef,2 States,Graduate students Krish and Ananya hope to win...,Abhishek Varman,"Comedies, Dramas, International Movies","Alia Bhatt, Arjun Kapoor, Ronit Roy, Amrita Si...",India,2014,TV-PG,143 min,7.0/10,Movie,"August 4, 2018"
41,664d12b4-7ad8-4454-90c9-70586f70f7a5,25 Kille,Four brothers learn that they have inherited a...,Simranjit Singh Hundal,"Action & Adventure, Dramas, International Movies","Guggu Gill, Yograj Singh, Sonia Mann, Jimmy Sh...",India,2016,TV-14,140 min,5.7/10,Movie,"October 1, 2018"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5940,a0888ecb-b825-4e87-90e1-2fa104023e1d,Zero,Through his relationships with two wildly diff...,Aanand Rai,"Comedies, Dramas, International Movies","Shah Rukh Khan, Anushka Sharma, Katrina Kaif, ...",India,2018,TV-14,159 min,5.2/10,Movie,"May 21, 2019"
5945,d143fc8e-0470-4dc8-a65f-5dc59370d776,Zindagi in Short,"Complicated marriages, digital romances, domes...",Anjum Shahzad,"International TV Shows, TV Dramas","Feroze Khan, Sajal Ali, Jibrayl Ahmed Rajput, ...",India,2020,TV-MA,1 Season,7.3/10,TV Show,"October 1, 2018"
5947,4ade696d-f3bb-47f2-bea6-ce13bb7e2a5e,Zindagi Na Milegi Dobara,Three friends on an adventurous road trip/bach...,Zoya Akhtar,"Comedies, Dramas, International Movies","Hrithik Roshan, Abhay Deol, Farhan Akhtar, Kat...",India,2011,TV-14,154 min,8.3/10,Movie,"December 15, 2019"
5952,7d0102f5-dcca-4c1e-a75b-3641085ffe75,Zokkomon,"When his cruel uncle abandons him, a young orp...",Satyajit Bhatkal,"Children & Family Movies, Dramas","Darsheel Safary, Anupam Kher, Manjari Fadnis, ...",India,2011,PG,104 min,4.1/10,Movie,"November 1, 2018"
5955,ab343fbd-1064-405d-837c-8e99a2d0c543,Zoo,A drug dealer starts having doubts about his t...,Shlok Sharma,"Dramas, Independent Movies, International Movies","Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,2018,TV-MA,94 min,5.8/10,Movie,"July 1, 2018"

In [90]:
# in how many movies and tv shows Tom Cruise was cast
dt=data[data["Cast"].str.contains('Tom Cruise')]
dt["Category"].count()

1

In [107]:
# how many movies got TV-14 rating in canada
dt=data[(data["Category"]=="Movie") & (data["Rating"]=="TV-14") & (data["Production Country"]=="Canada")]
dt["Show Id"].count()

5

In [109]:
# what is the maximum duration of movies & tv show on netflix
data[["Minute","Unit"]]=data["Duration"].str.split(" ",expand=True)
data["Minute"]=data["Minute"].astype("int64")
data["Minute"].max()

312

In [117]:
# which individual country has the highest no of tv shows
dt=data[(data["Category"]=="TV Show")]
dt.groupby("Production Country").agg({"Category":"count"}).sort_values(by="Category",ascending=False).head(1)

                    Category
Production Country
United States            706